[submodule "Externals/imgui"]
	path = Externals/imgui
	url = https://github.com/ocornut/imgui
[submodule "Externals/lodepng"]
	path = Externals/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "Externals/glm"]
	path = Externals/glm
	url = https://github.com/g-truc/glm
[submodule "Externals/cereal"]
	path = Externals/cereal
	url = https://github.com/USCiLab/cereal
[submodule "Externals/tinyobjloader"]
	path = Externals/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
